@mixin phone {
    @media (max-width: #{$width-tablet - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$width-desktop - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$width-desktop}) {
        @content;
    }
}

@mixin device-portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url(#{$file-path}.woff);
        src: url(#{$file-path}.woff?#iefix) format('embedded-opentype'), url(#{$file-path}.woff) format('woff'), url(#{$file-path}.ttf) format('truetype'), url(#{$file-path}.svg##{$font-family}) format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}
