$color-text-primary: #1c1919;
// body font

$color-text-secondary: #31353D;
// heading font

$color-hero: #EEEFF7;
// header/hero

$form-placeholder: #BCC1C3;
// form placeholder text

// Global colours
$color-accent: #eb5937;
$color-lightblue: #92CDCF;
$color-darkblue: #456f74;
$color-pink: #ff358b;
$color-blue: #2980b9;
$color-white: #fff;
$color-beige: #d1dbbd;
$color-gold: #d0a825;
$color-silver: #a69e9d;

// global accent colour
$color-accent-hover: darken($color-accent, 5%);
// global accent colour hover

$color-light: #EEEFF7;
$color-dark: #1c1919;

// Layout colours
$section-dark: #F3F4F8;

$footer-primary: #445878;

// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #403d3c;

// screen sizes

$width-tablet: 599px;
$width-desktop: 980px;
$width-x-desktop: 1600px;
