/* Importing Partials */
/* Default custom select styles */
@import url(https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,700);
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  color: #999;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */ }

.cs-select select {
  display: none; }

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  padding-left: 4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  @media (max-width: 598px) {
    .cs-select span {
      font-size: 12px; } }

/* Placeholder and selected option */
.cs-select > span {
  padding-right: 3em; }

.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 1em; }

div.cs-active {
  z-index: 200; }

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden; }

.cs-select.cs-active .cs-options {
  visibility: visible; }

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.cs-select ul span {
  padding: 1em; }

.cs-select ul li.cs-focus span {
  background-color: #ddd; }

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em; }

.cs-select li.cs-optgroup > span {
  cursor: default; }

div.cs-skin-border {
  background: transparent;
  font-size: 14px;
  max-width: 100%; }

@media screen and (max-width: 30em) {
  div.cs-skin-border {
    font-size: 1em; } }

.cs-skin-border > span {
  border: 1px solid #1c1919;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -webkit-transition: background 0.2s, border-color 0.2s;
  transition: background 0.2s, border-color 0.2s; }

.cs-skin-border > span::after {
  font-family: 'Helium';
  content: '\e65b';
  color: #eb5937; }
  @media (max-width: 598px) {
    .cs-skin-border > span::after {
      font-size: 14px; } }

.cs-skin-border ul span::after {
  content: '';
  opacity: 0; }

.cs-skin-border .cs-selected span::after {
  color: #eb5937;
  font-size: 1.5em;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.cs-skin-border.cs-active > span {
  background: #1c1919;
  border-color: #fff;
  color: #eb5937; }

.cs-skin-border .cs-options {
  color: #eb5937;
  font-size: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s; }

.cs-skin-border.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.cs-skin-border ul span {
  padding: 1em 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
  background: #e94620;
  color: #EEEFF7; }

/* Importing Fonts */
@font-face {
  font-family: Helium;
  src: url(../../fonts/helium.woff);
  src: url(../../fonts/helium.woff?#iefix) format("embedded-opentype"), url(../../fonts/helium.woff) format("woff"), url(../../fonts/helium.ttf) format("truetype"), url(../../fonts/helium.svg#Helium) format("svg");
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

svg path.colorize {
  fill: inherit; }

svg path.removable {
  fill-opacity: 0;
  stroke-opacity: 0; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Lora', serif; }

h1 {
  font-family: 'Open Sans', san-serif; }

.content-section {
  padding-top: 120px; }
  .content-section .title {
    font-weight: 700; }
  @media (max-width: 979px) {
    .content-section .container {
      padding-left: 1em;
      padding-right: 1em; } }
  @media (max-width: 598px) {
    .content-section .title {
      font-size: 36px; } }

.container__content {
  padding-bottom: 2em; }

.landing-page {
  min-height: 80vh;
  background: url("../../img/ppl-biking.jpg");
  background-size: cover; }
  .landing-page .title {
    color: #EEEFF7;
    font-size: 60px;
    font-weight: 700; }
  .landing-page .subtitle {
    margin-top: 1em;
    color: #EEEFF7; }
  .landing-page .button {
    margin-top: 2em; }
  @media (max-width: 979px) {
    .landing-page {
      padding-right: 1em; } }

.navigation header {
  margin: 0 auto;
  width: 75vw; }
  @media (max-width: 598px) {
    .navigation header {
      width: 100vw;
      padding: 0 1em; } }

.header__content {
  transform: translateY(-50px);
  position: relative; }
  .header__content::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #EEEFF7;
    transform: translateY(-75px);
    opacity: 0.25; }
  @media (max-width: 979px) {
    .header__content {
      transform: translateY(0);
      height: 200px;
      display: flex;
      align-items: center; }
      .header__content::after {
        position: absolute;
        display: block;
        height: 1px;
        width: 100%;
        background-color: #EEEFF7;
        content: '';
        bottom: -10%;
        left: 0; } }

.brand--phone {
  display: none; }
  @media (max-width: 979px) {
    .brand--phone {
      display: block;
      color: #EEEFF7; } }

.header__nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  .header__nav ul a {
    transition: all 0.3s ease;
    color: #EEEFF7;
    margin: 0 1.5em;
    position: relative; }
    .header__nav ul a:hover {
      color: #eb5937; }
    .header__nav ul a:first-child {
      margin-left: 0; }
  @media (max-width: 979px) {
    .header__nav ul li {
      display: none; } }
  @media (max-width: 598px) {
    .header__nav ul li {
      display: none; } }

.nav-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 100;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid #EEEFF7; }
  .nav-icon::after, .nav-icon::before {
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #EEEFF7;
    content: '';
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease; }
  .nav-icon::before {
    transform: translate(-50%, -50%) rotate(135deg); }
  .nav-icon::after {
    transform: translate(-50%, -50%) rotate(45deg); }
  @media (max-width: 979px) {
    .nav-icon {
      display: block; } }

.nav--open + header .nav-icon {
  border-color: #eb5937; }
  .nav--open + header .nav-icon::before, .nav--open + header .nav-icon::after {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #eb5937; }
  .nav--open + header .nav-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg); }

.header__nav--touch {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.95);
  visibility: hidden;
  opacity: 0; }
  .header__nav--touch a {
    color: #eb5937;
    transition: all 0.3s ease; }
    .header__nav--touch a:hover {
      color: #e94620; }
  .header__nav--touch ul {
    width: 100%;
    height: 100%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
    .header__nav--touch ul li {
      margin: 1em 0; }
  @media (max-width: 979px) {
    .header__nav--touch {
      display: block;
      transition: all 0.3s ease; } }

.header__nav--touch.nav--open {
  visibility: visible;
  opacity: 1; }

.logo {
  width: 300px;
  height: 300px;
  margin-right: auto;
  align-self: flex-start;
  position: relative; }
  .logo svg {
    width: 100%;
    height: 100%; }
  .logo span {
    position: absolute; }

/* section features & design*/
.features .subtitle, .design .subtitle {
  margin-top: 1.5em; }

.features .content > p, .design .content > p {
  margin: 1.5em 0;
  line-height: 1.5; }

@media (max-width: 979px) {
  .features .columns, .design .columns {
    display: flex;
    flex-flow: column wrap; }
  .features .column.is-7, .design .column.is-7 {
    order: 2; } }

.features__list {
  margin: 3.5em 0; }
  .features__list .title {
    margin-bottom: 0.5em; }
  .features__list .icon {
    font-size: 3em;
    color: #eb5937;
    margin: 0.25em 0.5em 0 0;
    text-align: left; }
  .features__list li {
    display: flex;
    margin: 2em 0;
    flex-flow: row nowrap; }
  .features__list p {
    width: 90%; }

.column--breakout {
  position: absolute;
  max-width: 50vw; }

.is-left {
  left: 0; }

.is-right {
  right: 1em; }

a.button--accent {
  padding: 0.5em 1em;
  font-size: 1em;
  border-color: #eb5937;
  background-color: transparent;
  color: #eb5937;
  transition: all 0.3s ease;
  text-transform: capitalize;
  height: auto; }
  a.button--accent:hover {
    color: #EEEFF7;
    background-color: #e94620;
    border-color: #eb5937; }

/* transition */
.transition {
  background: #1c1919;
  background: url("../../img/ppl-biking-3.JPG") center center;
  background-size: cover; }
  .transition .content {
    padding: 80px 0; }
    .transition .content .title {
      color: #EEEFF7;
      font-weight: 700;
      margin-bottom: 0.75em; }
    .transition .content .subtitle {
      color: #EEEFF7; }
    .transition .content .button {
      margin-top: 2em; }

#purchase-transition {
  background: url("../../img/ppl-biking-2.JPG") bottom center;
  background-size: cover; }

/* section technical & customization */
.technical .column:not(.bike-display) {
  padding: 1em; }
  .technical .column:not(.bike-display):first-child {
    border-right: 0; }
    @media (max-width: 598px) {
      .technical .column:not(.bike-display):first-child {
        order: 3; } }

.technical .subtitle {
  margin-top: 1em;
  position: relative; }
  .technical .subtitle::after {
    content: '';
    margin-top: 0.5em;
    position: absolute;
    width: 100%;
    background: #31353D;
    opacity: 0.5;
    height: 1px;
    display: block;
    right: 0; }

.technical__content, .customize__content {
  margin-top: 2em; }
  .technical__content .content__block, .customize__content .content__block {
    display: flex;
    position: relative;
    margin: 0.25em 0;
    align-items: center; }
    .technical__content .content__block::before, .customize__content .content__block::before {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #1c1919;
      content: '';
      bottom: 0; }
  .technical__content .item, .customize__content .item {
    color: #1c1919;
    margin-left: 0;
    padding: 0.5em 0; }
  .technical__content .figure, .customize__content .figure {
    margin-left: auto;
    color: #eb5937; }

.technical__figure {
  position: relative; }
  .technical__figure::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #1c1919;
    right: 0;
    transform: translateX(-60px); }
  .technical__figure span {
    transition: all 0.2s ease; }
  .technical__figure span.highlight {
    color: #e94620;
    font-size: 1.5em; }

.color-block, .number-block, .gender-block, .addon-block {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.75); }

.color-block.pink {
  background-color: #ff358b; }

.color-block.white {
  background-color: #fff; }

.color-block.blue {
  background-color: #2980b9; }

.color-block.beige {
  background-color: #d1dbbd; }

.color-block.gold {
  background-color: #d0a825; }

.color-block.silver {
  background-color: #a69e9d; }

.choice--color {
  transition: all 0.3s ease;
  display: none;
  position: absolute;
  flex-flow: row wrap;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }
  .choice--color .color-block {
    margin-left: 0.5em;
    width: 1.5em; }

.choice--color.active {
  display: flex; }

/* section bike */
.bike-display {
  align-items: center;
  padding-top: 10vh; }
  .bike-display use {
    fill: #2980b9;
    stroke-width: 0.1;
    stroke-opacity: 0.5; }
  .bike-display use.trunk {
    stroke-width: 0.25; }

div.block--selected:not(.color-block) {
  background: #eb5937;
  color: #EEEFF7; }

.customize__choice div {
  cursor: pointer; }

.svg-material {
  display: none; }

/* section purchase */
.purchase {
  margin-bottom: 120px; }
  .purchase .subtitle {
    margin-top: 1em; }

.preorder-form {
  margin: 3em auto;
  width: 75%;
  display: flex;
  flex-flow: column wrap; }
  .preorder-form .button {
    order: 3;
    margin-top: 10px;
    line-height: 48px;
    background: #eb5937;
    color: #EEEFF7; }
  .preorder-form .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em;
    font-size: 16px;
    color: #eb5937; }
  .preorder-form input {
    padding: 2em;
    border: 1px solid #1c1919;
    font-family: 'Lora', serif;
    color: #31353D; }
    .preorder-form input:focus {
      border-color: #eb5937; }

#email-input {
  padding-left: 4em; }
  @media (max-width: 598px) {
    #email-input {
      font-size: 12px; } }

/* section footer */
footer {
  width: 100%;
  padding: 2em 0;
  background-color: #31353D; }

.footer__nav {
  display: inline-block;
  margin: 1em 2em 0;
  color: #EEEFF7; }
  .footer__nav ul {
    display: flex;
    flex-flow: column wrap; }
    .footer__nav ul li {
      margin-right: 2em; }
    .footer__nav ul a {
      color: currentColor;
      transition: all 0.3s ease; }
      .footer__nav ul a:hover {
        color: #eb5937; }

.copyright {
  margin-top: 1em;
  font-size: 0.85em;
  text-align: right; }
  .copyright p > span {
    color: #eb5937; }
  @media (max-width: 598px) {
    .copyright {
      text-align: center; } }

/* For Icon Font */
.icon {
  font-family: 'Helium';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
  height: auto; }

.icon-hanger::before {
  content: "\e63f"; }

.icon-paperplane::before {
  content: "\e65d"; }

.icon-flash::before {
  content: "\e63d"; }

.icon-boy::before {
  content: "\e657"; }

.icon-girl::before {
  content: "\e658"; }

.icon-cart::before {
  content: "\e660"; }

.icon-crop::before {
  content: "\e616"; }

.icon-pin::before {
  content: "\e65b"; }

.icon-home::before {
  content: "\e646"; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.lock-overflow {
  overflow: hidden; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.text-center {
  text-align: center; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media (max-width: 598px) {
  .columns {
    margin-left: 0;
    margin-right: 0; } }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
